@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant SC';
}

#navbar {
    width: 100%;
    height: 6vw;
    z-index: 2;
    background-color: #1a1a1a;
}

ul {
    text-align: right;
    margin-right: 10vw;
}

ul li {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    padding: 1.6vw 2vw 0 0;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 2vw;
}

#navbar img {
    width: 11vw;
    height: 4vw;
    position: absolute;
    top: 1vw;
    left: 12vw;
}

li a:hover {
    color: yellow;
}

#home img {
    width: 100%;
    height: 45vw;
    object-fit: cover;
}

#home {
    color: white;
}

#promo {
    position: absolute;
    top: 11vw;
    left: 5vw;
    width: 40vw;
    height: 30vw;
    padding: 10px;
}

#diffc {
    color: #F6BE00;
}

#promo h1 {
    font-size: 5vw;
}

#promo p {
    font-size: 1.5vw;
}

#promo button {
    width: 13vw;
    height: 4vw;
    background-color: #F6BE00;
    border: 0px;
    color: white;
    font-size: 1.02vw;
    font-weight: bold;
    margin: 2vw 0 0 0;
}

#promo button:hover {
    background-color: #ddaa01;
}

#blog {
    text-align: center;
}

#blog h1 {
    text-align: center;
    font-size: 4vw;
    padding: 3vw 0 0 0;
    text-decoration: underline #F6BE00;
}

#compiler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4vw 0 0 0;
}

#box {
    width: 20vw;
    height: 20vw;
    background-color: #F6BE00;
    border-radius: 15px;
    margin-bottom: 5vw;
}

#free {
    width: 10vw;
    height: 5vw;
    padding: 4vw 0 0 0;
}

#truck {
    width: 10vw;
    height: 5vw;
    padding: 4vw 0 0 0;
}

#best {
    width: 7vw;
    height: 6vw;
    padding: 3vw 0 0 0;
}

#box h2 {
    font-size: 2vw;
}

#box p {
    padding: 1vw 1.5vw 0 1.5vw;
    font-size: 1.2vw;
    font-weight: bold;
}

#products {
    background-color: #c0c0c0;
}

#products h1 {
    text-align: center;
    font-size: 4vw;
    padding: 5vw 0 5vw 0;
    text-decoration: underline #F6BE00;
}

#compiler2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 13vw;
}

#item {
    width: 16vw;
    height: 24vw;
    background-color: #F6BE00;
    box-shadow: 0 0.4vw 1vw black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 0 1.5vw 4vw 0;
}

#item img {
    width: 100%;
    height: 70%;
    padding: 0;
}

#item h2 {
    font-size: 2.5vw;
}

#item p {
    font-size: 1.4vw;
    font-weight: bold;
}

#item button {
    width: 7vw;
    height: 2vw;
    font-size: 1vw;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    border: none;
}

#item button:hover {
    background-color: #2c2c2c;
    color: yellow;
}

footer {
    width: 100%;
    height: 35vw;
    background-color: #1a1a1a;
    color: white;
}

#info {
    width: 35vw;
    height: auto;
    padding: 3vw 0 0 5vw;
}

#info h2, #about h2 {
    font-size: 3vw;
    padding: 2vw 0 0 0;
}

#info p, #about p {
    font-size: 1.5vw;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}

#about {
    position: relative;
    bottom: 41.1%;
    width: 40vw;
    margin: 0 0 0 40vw;
}

#last {
    text-align: center;
    color: #F6BE00;
    font-size: 1.5vw;
}

@media(max-width:425px) {
    ul li {
        padding: 0 2vw 0 0;
    }

    #navbar img {
        top: 1.2vw;
    }

    #box h2 {
        font-size: 2.5vw;
    }
    
    #box p {
        padding: 0.5vw 1.5vw 0 1.5vw;
        font-size: 1.5vw;
    }

    #blog h1 {
        font-size: 5vw;
    }

    #products h1 {
        font-size: 5vw;
    }

    #compiler2 {
        margin: 0 0 0 14.5vw;
    }

    #item {
        width: 18vw;
        height: 33vw;
    }

    #item h2 {
        font-size: 3vw;
    }
    
    #item p {
        font-size: 1.9vw;
    }
    
    #item button {
        width: 9vw;
        height: 3.5vw;
        font-size: 2vw;
    }

    #last {
        font-size: 2vw;
    }
}
