@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
body {
  font-family: "DM Sans";
}

/* Navigation Bar */
#navbarS3 {
  width: 100%;
  height: 5vw;
  position: fixed;
  background-color: white;
  z-index: 2;
}
#navbarS3 ul {
  text-align: right;
  padding: 0 4vw 0 0;
}
#navbarS3 ul li {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  padding: 1.5vw 2vw 0 0;
}
#navbarS3 ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}
#navbarS3 ul li a:hover {
  position: relative;
  top: -0.5vw;
}
#navbarS3 #logoS3 {
  width: 10vw;
  height: 4vw;
  position: fixed;
  top: 0.5vw;
  left: 7vw;
  vertical-align: mids3dle;
}
#navbarS3 #logoS3 img {
  width: 100%;
  height: 100%;
}
#navbarS3.scrolled {
  box-shadow: 0 0.2vw 1vw black;
}
#sec1s3 {
  padding: 7vw 0 0 0;
}
#sec1s3 #displays3 {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 4vw;
}
#sec1s3 #displays3 #columns3 {
  width: 30%;
  height: 40vw;
  margin: 0 4vw 0 0;
}
#sec1s3 #displays3 #columns3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#sec1s3 #displays3 #mids3 {
  width: 30%;
  height: 40vw;
  background-color: #F7EAE4;
  margin: 0 4vw 0 0;
}
#sec1s3 #displays3 #mids3 #texts3 {
  text-align: center;
  margin: 10vw 5vw 5vw 5vw;
  color: #AD4406;
}
#sec1s3 #displays3 #mids3 #texts3 h1 {
  font-size: 4vw;
  font-family: "Satisfy";
}
#sec1s3 #displays3 #mids3 #texts3 p {
  font-size: 1.8vw;
}
#sec1s3 #displays3 #mids3 #texts3 button {
  width: auto;
  height: auto;
  color: white;
  background-color: #F4A26F;
  border-radius: 10px;
  border: none;
  padding: 0.7vw 1.2vw 0.7vw 1.2vw;
  font-size: 1.3vw;
  margin: 2vw 0 0 0;
  font-family: "Marope";
}
#sec1s3 #displays3 #mids3 #texts3 button:hover {
  transform: scale(1.1);
}
#sec2s3 #previews3 {
  width: 100%;
  height: auto;
}
#sec2s3 #previews3 #labels3 {
  height: auto;
  text-align: center;
  padding: 2vw 0 2vw 0;
  color: #AD4406;
}
#sec2s3 #previews3 #labels3 h1 {
  font-size: 4vw;
  font-family: "Satisfy";
}
#sec2s3 #previews3 #labels3 p {
  font-size: 1.7vw;
}
#sec2s3 #previews3 #swipes3 {
  height: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
#sec2s3 #previews3 #swipes3 #products3 {
  width: 40vw;
  height: auto;
  margin: 0 2vw 0 0;
  text-align: center;
  color: black;
}
#sec2s3 #previews3 #swipes3 #products3 img {
  width: 40vw;
  height: 27vw;
  -o-object-fit: cover;
     object-fit: cover;
}
#sec2s3 #previews3 #swipes3 #products3 h1 {
  font-size: 2.5vw;
  font-family: "Courier Prime";
}
#sec2s3 #previews3 #swipes3 #products3 h2 {
  font-size: 1.9vw;
  font-weight: normal;
}
#sec2s3 #previews3 #swipes3 #products3 button {
  width: auto;
  height: auto;
  font-size: 1.4vw;
  background-color: #AD4406;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.4vw 1vw 0.4vw 1vw;
  font-family: "Manrope";
}
#sec2s3 #previews3 #swipes3 #products3 button:hover {
  transform: scale(1.1);
}

#sec3s3 #sectionss3 {
  height: auto;
  background-color: #322F27;
  color: white;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}
#sec3s3 #sectionss3 #categorys3 {
  width: 18vw;
  height: auto;
  margin: 0 0 0 1.3vw;
}
#sec3s3 #sectionss3 #categorys3 img {
  width: 8vw;
  height: 8vw;
}
#sec3s3 #sectionss3 #categorys3 h1 {
  margin: 0.5vw 0 0.5vw 0;
  font-size: 2.3vw;
}
#sec3s3 #sectionss3 #categorys3 p {
  font-size: 1.3vw;
}

#sec4s3 {
  height: auto;
  color: white;
  text-align: center;
}
#sec4s3 #prllxs3 {
  height: 30vw;
  background-image: url("https://drive.google.com/uc?id=1ZIby_n6YEzKYqksX9KCnteg9eLfQzPxd");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#sec4s3 #prllxs3 #txts3 {
  font-size: 3.9vw;
  padding: 5vw 28vw 0 28vw;
  font-family: "Satisfy";
}

#footers3 {
  height: auto;
}
#footers3 #containers3 {
  height: auto;
  padding: 4vw;
  display: flex;
  align-items: center;
}
#footers3 #containers3 #lefts3 {
  width: 50%;
}
#footers3 #containers3 #lefts3 #contacts3 {
  color: #AD4406;
}
#footers3 #containers3 #lefts3 #contacts3 h1 {
  font-size: 5.5vw;
  font-family: "Satisfy";
}
#footers3 #containers3 #lefts3 #contacts3 a {
  text-decoration: none;
  color: #AD4406;
  font-size: 1.3vw;
}
#footers3 #containers3 #lefts3 #contacts3 a:hover {
  text-decoration: underline;
}
#footers3 #containers3 #lefts3 #contacts3 p {
  font-size: 1.3vw;
}
#footers3 #containers3 #lefts3 #contacts3 .indent {
  padding: 0 0 0 1vw;
}
#footers3 #containers3 #lefts3 #contacts3 #linkss3 {
  margin: 0 0 0 1vw;
}
#footers3 #containers3 #lefts3 #contacts3 #linkss3 i {
  height: auto;
  font-size: 3vw;
  margin: 0 1.5vw 0 0;
}
#footers3 #containers3 #lefts3 #contacts3 #linkss3 i:hover {
  transform: scale(1.2);
}
#footers3 #containers3 #rights3 {
  width: 50%;
  height: auto;
  text-align: right;
}
#footers3 #containers3 #rights3 img {
  width: 15vw;
  height: 15vw;
}
#footers3 #containers3 #rights3 p {
  color: #AD4406;
  font-size: 1.2vw;
  font-weight: bold;
}