/* DIV TEAM INFO */
#about {
    width: 100%;
    height: auto;
    background-color: #1a1a1a;
    position: relative;
    top: -1vw;
}

#container {
    text-align: center;
    width: 100%;
}

#info {
    padding: 0 0 5vw 0;
}

#info h1 {
    font-size: 3vw;
}

#info p{
    font-size: 1.4vw;
    padding: 0 22vw 0 22vw;
}

#icon img {
    width: 12vw;
    height: auto;
}

@media (max-width:425px) {
    #about {
        top: -2vw;
    }

    #info h1 {
        font-size: 4.5vw;
    }
    
    #info p{
        font-size: 3vw;
        padding: 0 10vw 0 10vw;
    }
    
    #icon img {
        width: 13vw;
        height: auto;
    }

    #addinfo {
        top: -2vw;
    }

}